---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

.page__footer-copyright {
  display: none !important;
}

.page__footer-follow {
  display: none !important;
}

.author__urls-wrapper .btn {
  display: none;
}

.author__urls {
  display: block !important;
  position: static !important;
  visibility: visible !important;
  opacity: 1 !important;
}
